In [32]:
import pandas as pd
import os

In [33]:
os.getcwd()

'C:\\Users\\pratik\\Downloads\\GDTC-Task-Simple Data Engineering\\Data For Python Assessment'

In [36]:
df = pd.read_csv('employee_data.csv')

In [37]:
df.head(5)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [17]:
df1 = pd.read_csv('insurance_data.csv')

In [10]:
df1.head(5)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [21]:
emp_insur = pd.merge(df, df1, on=['AGENT_ID'], how='left')

In [25]:
emp_insur.head(5)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,VENDOR_ID
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,College,A,Minor Loss,None,0,1,FL,Lynn Haven,4,VNDR00394
1,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Total Loss,Ambulance,0,1,MD,Glen Burnie,5,VNDR00222
2,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Major Loss,None,1,1,MD,Arnold,6,VNDR00440
3,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Masters,A,Total Loss,Ambulance,1,1,AR,Fayetteville,18,VNDR00267
4,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,Bachelor,A,Minor Loss,Police,1,1,OK,Oklahoma City,18,NaN

In [19]:
df2 = pd.read_csv('vendor_data.csv')

In [20]:
df2.head(5)

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [23]:
insur_vend = pd.merge(df1, df2, on=['VENDOR_ID'], how='left')

In [24]:
insur_vend.head(5)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,Savannah,4,AGENT00413,VNDR00556,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,Montgomery,0,AGENT00769,VNDR00592,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,Grand Junction,19,AGENT00883,VNDR00031,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,Savannah,12,AGENT00278,VNDR00075,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,Nashville,18,AGENT00636,VNDR00472,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

In [28]:
full_joint =pd.merge(emp_insur, insur_vend, on=['AGENT_ID'], how='outer')

In [30]:
full_joint.head(5)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x_x,ADDRESS_LINE2_x_x,CITY_x_x,STATE_x_x,POSTAL_CODE_x_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,INCIDENT_STATE_y,INCIDENT_CITY_y,INCIDENT_HOUR_OF_THE_DAY_y,VENDOR_ID_y,VENDOR_NAME,ADDRESS_LINE1_y_y,ADDRESS_LINE2_y_y,CITY_y_y,STATE_y_y,POSTAL_CODE_y_y
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,FL,Lynn Haven,4,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404.0
1,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Glen Burnie,5,VNDR00222,Webb-Henderson,2209 East Manor Drive,NaN,Fayetteville,AR,72701.0
2,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Arnold,6,VNDR00440,"Hawkins, Hansen and Gonzalez",188 Saint Matthews Avenue,#1,Louisville,KY,40207.0
3,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,AR,Fayetteville,18,VNDR00267,Mercado Inc,6401 Green Meadow Lane,NaN,Oklahoma City,OK,73132.0
4,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,OK,Oklahoma City,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
full_joint

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_x_x,ADDRESS_LINE2_x_x,CITY_x_x,STATE_x_x,POSTAL_CODE_x_x,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,...,INCIDENT_STATE_y,INCIDENT_CITY_y,INCIDENT_HOUR_OF_THE_DAY_y,VENDOR_ID_y,VENDOR_NAME,ADDRESS_LINE1_y_y,ADDRESS_LINE2_y_y,CITY_y_y,STATE_y_y,POSTAL_CODE_y_y
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,FL,Lynn Haven,4,VNDR00394,Hart PLC,1108 Slater Street,NaN,Santa Rosa,CA,95404.0
1,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Glen Burnie,5,VNDR00222,Webb-Henderson,2209 East Manor Drive,NaN,Fayetteville,AR,72701.0
2,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,MD,Arnold,6,VNDR00440,"Hawkins, Hansen and Gonzalez",188 Saint Matthews Avenue,#1,Louisville,KY,40207.0
3,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,AR,Fayetteville,18,VNDR00267,Mercado Inc,6401 Green Meadow Lane,NaN,Oklahoma City,OK,73132.0
4,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585,...,OK,Oklahoma City,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92547,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511,...,AL,Montgomery,9,VNDR00240,"Mcdonald, Beasley and Knox",132 Tensaw Road,NaN,Montgomery,AL,36117.0
92548,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511,...,FL,Panama City,13,VNDR00412,Williams Ltd,5119 Marla Drive,NaN,Panama City,FL,32404.0
92549,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511,...,TN,Nashville,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92550,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511,...,OK,Midwest City,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92551,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511,...,OK,Oklahoma City,19,VNDR00251,Sanchez LLC,154 Lyness Street,NaN,Manchester,CT,6040.0